@import "tailwindcss";
@layer utilities {
  @keyframes sheen {
    0% {
      transform: rotate(45deg) translateX(-100%);
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: rotate(45deg) translateX(200%);
      opacity: 0;
    }
  }

  .sheen::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.1) 100%
    );
    transform: rotate(45deg);
    animation: sheen 2s infinite;
  }
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


@layer utilities {
  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-slide-down {
    animation: slide-down 0.3s ease-out forwards;
  }
}